confluent-kafka==2.14.0
rocksdict==0.3.29
numpy==1.25.2
pymongo==4.10.1
redis==5.0.3
oracledb==2.1.2
SQLAlchemy==2.0.29
pandas==2.1.1
crypto==1.4.1
requests==2.32.3
pycryptodome==3.21.0
APScheduler==3.10.4
kafka-python==2.0.2
python-dotenv==1.0.0
PyYAML==6.0
scikit-learn==1.5.1
munch==4.0.0
lightgbm==4.5.0
confluent-kafka==2.6.0